<h1>Produkter</h1>
<div class='filter-container'>
  <label for="filter" class="filter-label">Filter:</label>
  <select id="filter" class="filter-select" [(ngModel)]="filterTerm" (change)="fetchProducts()">
    <option value="">All</option>
    <option value="backpack">Backpack</option>
    <option value="bags">Bags</option>
    <option value="cardigans">Cardigans</option>
    <option value="cargo">Cargo</option>
    <option value="dresses">Dresses</option>
    <option value="hoodies">Hoodies</option>
    <option value="jackets">Jackets</option>
    <option value="jeans">Jeans</option>
    <option value="knitwear">Knitwear</option>
    <option value="linen">Linen</option>
    <option value="pants">Pants</option>
    <option value="puffers">Puffers</option>
    <option value="shoes">Shoes</option>
    <option value="shorts">Shorts</option>
    <option value="skirts">Skirts</option>
    <option value="suits">Suits</option>
    <option value="sweaters">Sweaters</option>
    <option value="t-shirts">T-shirts</option>
    <option value="tops">Tops</option>
  </select>
</div>

<div class="product-list">
  <div *ngFor="let product of products" class="product">
    <a [routerLink]="'/product/' + product.sku">
      <ng-container *ngIf="product.image_downloads.length > 0; else noImage">
        <img [src]="'./assets/mango/' + product.image_downloads[0] + '.jpg'" [alt]="product.name">
      </ng-container>
      
      <ng-template #noImage>
        <div>No Image Available</div>
      </ng-template>
    </a>
    <p class="product-content">{{ product.name }}</p>
    <p class="product-content">Pris: {{ product.price }} {{ product.currency }}</p>
  </div>
</div>